<div class="ax_paragraph" style="font-size:10px">
    <!-- Unnamed () -->
    <div id="u478" class="text">
        <p><span>%s</span></p>
    </div>
</div>
<div class="meta-description">
    <p>
        <span style="font-size:18px;text-decoration:underline;color:#1020d0;">
            %s
        </span>
    </p>
    <p>
        <span style="font:13px/normal Arial,Helvetica,Sans-Serif;color:#009030;">
            %s
        </span>
    </p>
    <p>
        <span style="font:13px/normal Arial,Helvetica,Sans-Serif;color:#404040;">
            %s &middot; %s
        </span>
    </p>
</div>
