<div class="ax_paragraph" style="font-size:10px">
    <!-- Unnamed () -->
    <div id="u478" class="text">
        <p><span>%s</span></p>
    </div>
</div>
<div class="meta-description">
    <p>
        <span style="font-size:medium;text-decoration:underline;color:#1e0fbe;">
            %s
        </span>
    </p>
    <p>
        <span style="font-size:14px;color:#006621;">
            %s
        </span>
    </p>
    <p>
        <span style="font-size:small;color:#444;">
            %s - %s
        </span>
    </p>
</div>
