<div class="ax_paragraph" style="font-size:10px">
    <!-- Unnamed () -->
    <div id="u478" class="text">
        <p><span>%s</span></p>
    </div>
</div>
<div class="meta-description" style="font-family:helvetica neue,helvetica,arial,sans-serif">
    <p>
        <span style="font-size:16px;text-decoration:underline;color:#324fe1;">
            %s
        </span>
    </p>
    <p>
        <span style="font:13px/1.231 arial,helvetica,clean,sans-serif;font-weight:bold;color:#1e7d83;">
            %s
        </span>
    </p>
    <p>
        <span style="font:13px/1.231 arial,helvetica,clean,sans-serif;color:#000;">
            %s
        </span>
    </p>
</div>
