.breakingnews {	
	margin: 0 0 20px 0;
	background-color: white;
	
	.title {
		float: left;
		background: red;
		color: white;
		text-transform: uppercase;
		padding: 10px;
		font-size: 18px;
		font-weight: bold;
		width: 115px;
	}	

	ul.alerts {
		float: left;
		list-style-type: none;
		margin: 0;	
		position: relative;
		left: 15px;
		top: 15px;
		li {
			line-height: 23px;
			a {
				color: black;
				font-size: 23px;	
			}					
		}

	}
	

}